.page-head {
  margin: 1rem 2rem 0;
}

.post-feed {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 4rem 0 0;

  .post-card {
    flex-direction: column;
    min-height: 25rem;
    overflow: hidden;
    background: $white 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;

    &:hover {
      box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
      transition: all .4s ease;
      transform: translate3D(0,-1px,0) scale(1.02);
    }

    .post-card-meta {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 1.6rem 1rem;
    }
  }
}

%post-card-two-rows {
  @include calculate-rows(2, 5%);

  @media (max-width: $grid-tablet-breakpoint) {
    width: 100%;
    margin-right: 0;
  }
}

%post-card-four-rows {
  @include calculate-rows(4, 5%);

  @media (max-width: $grid-tablet-breakpoint) {
    width: 100%;
    margin-right: 0;
  }
}

.home-template .post-feed .post-card {
  @extend %post-card-two-rows;
}

.author-template .post-feed .post-card {
  @extend %post-card-four-rows;
}

.author-list {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 .2rem;
  padding: 0;
  list-style: none;

  .author-list-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    margin: 0;
    padding: 0;

    &:first-child {
      z-index: 10;
    }

    .author-name-tooltip {
      position: absolute;
      left: -1px;
      bottom: 105%;
      z-index: 999;
      display: block;
      padding: 2px 8px;
      color: $white;
      font-size: 1.2rem;
      letter-spacing: .2px;
      white-space: nowrap;
      background: #15171a;
      border-radius: 3px;
      box-shadow: 0 12px 26px rgba(39,44,49,.08), 1px 3px 8px rgba(39,44,49,.03);
      opacity: 0;
      transition: all .3s cubic-bezier(.4,.01,.165,.99);
      transform: translateY(6px);
      pointer-events: none;
    }

    .static-avatar {
      display: block;
      height: 3.4rem;
      width: 3.4rem;
      border: 2px solid $white;
      margin: 0 -5px;
      border-radius: 100%;
      overflow: hidden;
    }

    .author-profile-image {
      display: block;
      width: 100%;
      height: 100%;
      background: $light-brown;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

.reading-time {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 20px;
  color: blacken($mid-brown, 4%);
  font-size: 1.1rem;
  line-height: 33px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
